<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> about</title>
</head>
<body>
    <div class="container", style="text-align: center">
         {% include "navbar.html" %}
        <h1>About our Website</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident consectetur iure facere doloribus id, cumque aliquam doloremque aspernatur adipisci, voluptate ullam atque nemo aperiam tempora fuga nisi necessitatibus ipsam iusto?</p>
    </div>
    <button>Contect us </button>
    
</body>
</html>